

<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
    <button onclick="getMarkups()">Get Markups</button>
</div>

<div class="row">
    <asp:GridView runat="server" id="dataGrid" />
</div>
    -->

<div data-role="page" id="query1">
    <div data-role="header" data-theme="c">
        <div class="jumbotron">
            <h1>Healthy Wealthy Analysis</h1>
            <p class="lead">Analysis that shows the relation between wealth and happiness.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <h2>Wealthy equals Healthy</h2>
        <br />
        <div id="nav_bar" data-role="navbar">
            <ul>
                <li><a href="#query1" class="ui-btn-active">Wealthy equals Healthy</a></li>
                <li><a href="#query2">Happy Live Longer</a></li>
                <li><a href="#query3">Wealthy Live Longer</a></li>
            </ul>
        </div>

        <div data-role="main" data-theme="a">
            <h1 class="row">Wealthy equals Healthy Contents</h1>
            <br />

            <!-- Filter form -->
            <div class="form table-bordered">
                <div class="form-body" enter-key="$ctrl.doSearch()">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Country's Count</label>
                            <input type="range" id="countryTopCount" name="countryTopCount" value="160"
                                   min="0" max="160" class="form-control input" placeholder="Country's Count" />
                        </div>
                        <div class="form-group col-md-2">
                            <input type="submit" value="Load" onclick="getWealthyHealthy($('#countryTopCount').val())" style="margin-top:35px;">
                        </div>
                    </div>

                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-6 tableTitle">
                    Happy Score of Countries with highest incomes (income per person)
                </div>
                <div class="col-sm-1">Vs</div>
                <div class="col-md-5 tableTitle">
                    Happy Score of Countries with Low incomes (income per person)
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <table id="q1RichHappyTable" class="table table-bordered table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Country Name</th>
                                <th>Avg Income</th>
                                <th>Avg Happy Score</th>
                            </tr>
                        </thead>
                        <tbody id="q1RichHappyTableBody">
                            <tr>
                                <td>CCC</td>
                                <td>333</td>
                                <td>23</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table id="q1happyTable" class="table table-bordered table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Country Name</th>
                                <th>Avg Income</th>
                                <th>Avg Happy Score</th>
                            </tr>
                        </thead>
                        <tbody id="q1happyTableBody">
                            <tr>
                                <td>CCC</td>
                                <td>333</td>
                                <td>34</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--
    <table id="happyTable" class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Country Name</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody id="happyTableBody">
            <tr>
                <td>CCC</td>
                <td>333</td>
            </tr>
        </tbody>
    </table>
        -->
        </div>

        <br /><br /><br /><br />

        <hr />
        <div data-role="footer" data-theme='c'>
            <h4 id="footertext"><p>&copy; @DateTime.Now.Year For Entertainment Purpose Only</p></h4>
        </div>

        <!--
    <hr />
    <footer>
        <p style="margin-left:10px;">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    -->
    </div>
</div>

<!--
2.	Do happy people live longer? - Relate happiness with life expectancy. Analyze if more happy people live longer.
1.	Find Avg of happiness score for each countryId (for specific period if any)
2.	Find Avg Age of life for each countryID (for specific period if any)
3.	Show top X happy country’s with their avg life age

Filters on:
I.	Happiness Score >= (0.1 – 1.0)
II.	Country
-->
<div data-role="page" id="query2" class="container-fluid">
    <div data-role="header" data-theme="c">
        <div class="jumbotron">
            <h1>Healthy Wealthy Analysis</h1>
            <p class="lead">Analysis that shows the relation between wealth and happiness.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <h2>Happy Live Longer</h2>
        <br />
    </div>


    <!-- nav bar -->
    <div id="nav_bar" data-role="navbar">
        <ul>
            <li><a href="#query1">Wealthy equals Healthy</a></li>
            <li><a href="#query2" class="ui-btn-active">Happy Live Longer</a></li>
            <li><a href="#query3">Wealthy Live Longer</a></li>
        </ul>
    </div>

    <div data-role="main" data-theme="a">
        <h1 class="row">Happy Live Longer Contents</h1>
        <br />

        <!-- Filter form -->
        <div class="form table-bordered">
            <div class="form-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Happiness Score Greater Than </label>
                        <input type="range" id="happyMoreThan" name="happyMoreThan" 
                               min="0.1" max="1.0" step="0.1" value="0.7" class="form-control input" />
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Country</label>
                        <select id="selectCountry" class="bs-select">
                            <option value="0"></option>
                            <option value="1">USA</option>
                            <option value="2">UAE</option>
                            <option value="3">Canada</option>
                            <option value="4">Afghanistan</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="submit" value="Submit" 
                               onclick="getHappyLongerLife($('#happyMoreThan').val())" style="margin-top:35px;">
                    </div>
                </div>

            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-6 tableTitle">
                Countries with Top Happy Score
            </div>
            <div class="col-sm-1">Vs</div>
            <div class="col-md-5 tableTitle">
                Countries with Top Avg Life
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table id="q2happyLifeTable" class="table table-bordered table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Country Name</th>
                            <th>Avg Happy Score</th>
                            <th>Avg Life Span</th>
                        </tr>
                    </thead>
                    <tbody id="q2happyLifeTableBody">
                        <tr>
                            <td>CCC</td>
                            <td>333</td>
                            <td>23</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table id="q2longLifeTable" class="table table-bordered table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Country Name</th>
                            <th>Avg Happy Score</th>
                            <th>Avg Life Span</th>
                        </tr>
                    </thead>
                    <tbody id="q2longLifeTableBody">
                        <tr>
                            <td>CCC</td>
                            <td>333</td>
                            <td>34</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <br /><br /><br /><br />

    <hr />
    <div data-role="footer" data-theme='c'>
        <h4 id="footertext"><p>&copy; @DateTime.Now.Year For Entertainment Purpose Only</p></h4>
    </div>
</div>

<!--
3.	Do wealthier people live longer? - Show estimated income per person and life expectancy of up to next 10 years.
1.	Grab the estimated Income & Life for next X years
Filters on:
I.	Next X years (1-10)
II.	Income >= Y (user input)
-->
<div data-role="page" id="query3">
    <div data-role="header" data-theme="c">
        <div class="jumbotron">
            <h1>Healthy Wealthy Analysis</h1>
            <p class="lead">Analysis that shows the relation between wealth and happiness.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <h2>Wealthy Live Longer</h2>
        <br />
        <div id="nav_bar" data-role="navbar">
            <ul>
                <li><a href="#query1">Wealthy equals Healthy</a></li>
                <li><a href="#query2">Happy Live Longer</a></li>
                <li><a href="#query3" class="ui-btn-active">Wealthy Live Longer</a></li>
            </ul>
        </div>

        <div data-role="main" data-theme="a">
            <h1 class="row">Wealthy Live Longer Contents</h1>
            <br />

            <!-- Filter form -->
            <div class="form table-bordered">
                <div class="form-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">For Next years </label>
                            <input type="range" id="nextYearsRange" name="nextYearsRange" value="10"
                                   min="1" max="10" class="form-control input" placeholder="Years" />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Income Greater Than Equal To</label>
                            <input class="form-control input" type="number" id="estIncomeInput" name="estIncomeInput" />
                        </div>
                        <div class="form-group col-md-2">
                            <input type="submit" value="Submit" 
                                   onclick="getEstdIncomeLife($('#nextYearsRange').val(), $('#estIncomeInput').val())" 
                                   style="margin-top:35px;">
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-6 tableTitle">
                    Countries with Top Avg Estd. Income Per Person ($)
                </div>
                <div class="col-sm-1">Vs</div>
                <div class="col-md-5 tableTitle">
                    Countries with Top Avg Estd. Life (years)
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <table id="q3incomeLifeTable" class="table table-bordered table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Country Name</th>
                                <th>Avg Income per person</th>
                                <th>Avg Life Span</th>
                            </tr>
                        </thead>
                        <tbody id="q3incomeLifeTableBody">
                            <tr>
                                <td>CCC</td>
                                <td class="rightAlign">333</td>
                                <td class="rightAlign">23</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table id="q3longLifeTable" class="table table-bordered table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Country Name</th>
                                <th>Avg Income per person</th>
                                <th>Avg Life Span</th>
                            </tr>
                        </thead>
                        <tbody id="q3longLifeTableBody">
                            <tr>
                                <td>CCC</td>
                                <td>333</td>
                                <td>34</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <br /><br /><br /><br />

        <hr />
        <div data-role="footer" data-theme='c'>
            <h4 id="footertext"><p>&copy; @DateTime.Now.Year For Entertainment Purpose Only</p></h4>
        </div>
    </div>
</div>
