

<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
    <button onclick="getMarkups()">Get Markups</button>
</div>

<div class="row">
    <asp:GridView runat="server" id="dataGrid" />
</div>
    -->

<div data-role="page" id="query1">
    <div data-role="header" data-theme="c">
        <div class="jumbotron">
            <h1>Healthy Wealthy Analysis</h1>
            <p class="lead">Analysis that shows the relation between wealth and happiness.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <h2>Wealthy equals Healthy</h2>
        <br />
        <div data-role="navbar" data-theme="b">
            <ul>
                <li><a href="#query1">Wealthy equals Healthy</a></li>
                <li><a href="#query2">Happy Live Longer</a></li>
                <li><a href="#query3">Wealthy Live Longer</a></li>
            </ul>
        </div>

        <div data-role="main" data-theme="a">
            <h1>Wealthy equals Healthy Contents</h1>
            <br />

            <div class="form table-bordered">
                <div class="form-body" enter-key="$ctrl.doSearch()">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Country's Count</label>
                            <input type="range" id="countryTopCount" name="countryTopCount"
                                   min="0" max="160" class="form-control input" placeholder="Country's Count" />
                        </div>
                        <div class="form-group col-md-2">
                            <input type="submit" value="Load" onclick="getWealthyHealthy()" style="margin-top:35px;">
                        </div>
                    </div>

                </div>
            </div>

            <input id="btnQuery1" type="button" value="Get Happy Score" />
            <table id="happyTable" class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>Country Name</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody id="happyTableBody">
                    <tr>
                        <td>CCC</td>
                        <td>333</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <br /><br /><br /><br />

        <hr />
        <div data-role="footer" data-theme='c'>
            <h4 id="footertext"><p>&copy; @DateTime.Now.Year For Entertainment Purpose Only</p></h4>
        </div>

        <!--
        <hr />
        <footer>
            <p style="margin-left:10px;">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
        -->
    </div>
</div>

<!--
2.	Do happy people live longer? - Relate happiness with life expectancy. Analyze if more happy people live longer.
1.	Find Avg of happiness score for each countryId (for specific period if any)
2.	Find Avg Age of life for each countryID (for specific period if any)
3.	Show top X happy country’s with their avg life age

Filters on:
I.	Happiness Score >= (0.1 – 1.0)
II.	Country
-->
<div data-role="page" id="query2" class="container">
    <div data-role="header" data-theme="c">
        <div class="jumbotron">
            <h1>Healthy Wealthy Analysis</h1>
            <p class="lead">Analysis that shows the relation between wealth and happiness.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <h2>Happy Live Longer</h2>
        <br />
        <!-- nav bar -->
        <div data-role="navbar" data-theme="b">
            <ul>
                <li><a href="#query1">Wealthy equals Healthy</a></li>
                <li><a href="#query2">Happy Live Longer</a></li>
                <li><a href="#query3">Wealthy Live Longer</a></li>
            </ul>
        </div>

        <div data-role="main" data-theme="a">
            <h1>Happy Live Longer Contents</h1>
            <br />

            <div class="form table-bordered">
                <div class="form-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Happiness Score Greater Than </label>
                            <input type="range" id="countryTopCount" name="countryTopCount" value="0.7"
                                   min="0.1" max="1.0" class="form-control input" placeholder="Country's Count" />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Country</label>
                            <select id="selectHappyLife" class="bs-select form-control" data-style="blue">
                                <option>Afghanistan</option>
                                <option>USA</option>
                                <option>UAE</option>
                                <option>Canada</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="submit" value="Submit" onclick="getHappyLongerLife()" style="margin-top:35px;">
                        </div>
                    </div>

                </div>
            </div>

            <table id="happyLifeTable" class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>Country Name</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody id="happyLifeTableBody">
                    <tr>
                        <td>CCC</td>
                        <td>333</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br /><br /><br /><br />

        <hr />
        <div data-role="footer" data-theme='c'>
            <h4 id="footertext"><p>&copy; @DateTime.Now.Year For Entertainment Purpose Only</p></h4>
        </div>
    </div>
</div>

<!--
3.	Do wealthier people live longer? - Show estimated income per person and life expectancy of up to next 10 years.
1.	Grab the estimated Income & Life for next X years
Filters on:
I.	Next X years (1-10)
II.	Income >= Y (user input)
-->
<div data-role="page" id="query3">
    <div data-role="header" data-theme="c">
        <div class="jumbotron">
            <h1>Healthy Wealthy Analysis</h1>
            <p class="lead">Analysis that shows the relation between wealth and happiness.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <h2>Wealthy Live Longer</h2>
        <br />
        <div data-role="navbar" data-theme="b">
            <ul>
                <li><a href="#query1">Wealthy equals Healthy</a></li>
                <li><a href="#query2">Happy Live Longer</a></li>
                <li><a href="#query3">Wealthy Live Longer</a></li>
            </ul>
        </div>

        <div data-role="main" data-theme="a">
            <h1>Wealthy Live Longer Contents</h1>
            <br />

            <div class="form table-bordered">
                <div class="form-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">For Next years </label>
                            <input type="range" id="nextYearsRange" name="nextYearsRange" value="10"
                                   min="1" max="10" class="form-control input" placeholder="Years" />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Income Greater Than Equal To</label>
                            <input class="form-control input" type="number" id="estIncomeInput" name="estIncomeInput" /> 
                        </div>
                        <div class="form-group col-md-2">
                            <input type="submit" value="Submit" onclick="getEstdIncomeLife()" style="margin-top:35px;">
                        </div>
                    </div>
                </div>
            </div>

            <table id="incomeLifeTable" class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>Country Name</th>
                        <th>Row Count</th>
                    </tr>
                </thead>
                <tbody id="incomeLifeTableBody">
                    <tr>
                        <td>CCC</td>
                        <td>222</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br /><br /><br /><br />

        <hr />
        <div data-role="footer" data-theme='c'>
            <h4 id="footertext"><p>&copy; @DateTime.Now.Year For Entertainment Purpose Only</p></h4>
        </div>
    </div>
</div>
